#landing
  .container
    #hero
      %h1
        Combine flight deals with hotel getaway packages.
      %h2
        Go on vacation this weekend at 60% the normal cost.

    #query
      %h2
        Let's start your adventure. Choose a date:
      = form_tag('/beta')
      = text_field_tag "date", nil, placeholder: "mm/dd (ex: 03/15)", id: "input"
      = submit_tag "Go!"
      #asterisk
        *Currently only supporting SFO and LAX departures.

    / %button#search-button{"data-flight-results-url" => "#{flight_results_path}"}
    /   Search

%div.results