#landing
  .container
    #hero.row
      %h1
        Vacation this weekend for 60% the normal cost
      %h2 When do you want to go?
    #query
      .row
        = form_tag('/beta')
        = text_field_tag "date", nil, placeholder: "mm/dd (ex: 03/15)", id: "input"
        = submit_tag "Find Flight + Hotel"
      %br
      %h2 Trossr is a travel-hack for spontaneous adventurers
      #asterisk
      / *Currently only supporting SFO and LAX departures.
      %h3= link_to "Read more", "#", id: "scroll_to_how"
.results.row
#what.block
  .container
    %h1.row What is Trossr?
    %p.row Trossr is a travel-hacking tool that combines awesome LivingSocial hotel packages with guaranteed low-price flights. The result is always a heavily-discounted vacation package!
    %br
#how.block
  .container
    %h1.row How do you get such low prices?
    %p.row
      Every flight site boasts about "low prices", but Trossr uses proprietary technology to find the prices even the 
      %span.strong.italics airline companies don't want you knowing about
      (don't worry - it's perfectly legal!). We call this "shortcut flying". Every flight found on Trossr is a  shortcut flight, and thus a guaranteed low-price flight.

:javascript
  $("#scroll_to_how").click(function() {
    $('html, body').animate({
      scrollTop: $("#how").offset().top
    }, 600);
    return false;
  });