#landing
  .container
    #hero
      %h1
        Combine flight deals with hotel getaway packages.
      %h2
        Save up to 60% off entire vacations.

    #query
      %h2
        Let's start your adventure. Choose a date:
      %input{:placeholder => "mm/dd/yy", id: "input"}
      #asterisk
        *Currently only supporting SFO and LAX departures.