%h1
  When do you want to get away?

%div
  %input{:placeholder => "mm/dd/yy"}
  %span
    *We only leave from SFO and LAX

%button#search-button{"data-flight-results-url" => "#{flight_results_path}"}
  Search

%div.results