#beta {
  font-size: 0.8em;
  position: absolute;
  display: block;
  background-color: #FE9D0D;
  min-height: 100%;
  margin: auto;
  padding-top: 2%;
  width: 100%;
  line-height: 1.4em;

  h1 {
    font-family: 'PT Sans Narrow';
    margin-bottom: 20px;
  }

  h3 {
    font-family: 'PT Sans Narrow';
    font-size: 1.4em;
  }

  #results_wrapper {
    margin: auto;
    display: block;
    width: 90%;
    height: 80%;
    min-width: 320px;
    max-width: 960px;
    background-color: #f5f5f5;
    padding: 4%;
    font-weight: 300;

    p {
      font-family: 'Lato';
      font-weight: 300;
    }
  }

  .result_details {
    float: left;
    display: inline-block;
    width: 100%;
    max-width: 540px;
    padding: 10px 0;
  }

  .steps{
    float: left;
    width: 100%;
    max-width: 320px;
    display: inline-block;
    background-color: #AAC9C0;
    padding: 10px;
    height: 100%;

    .step {
      margin-bottom: 20px;
    }
  }
}