#landing {
  font-family: 'Playfair Display';
  color: #E9E9EB;
  background: url('http://i.imgur.com/frJI8ws.jpg') no-repeat center; 
  min-height: 768px;
  height: 100%;

  #hero {
    padding: 20% 0 5% 0;
    text-align: center;

    h1, h2 {
      font-family: 'PT Sans Narrow';
      color: #fff;
    }

    h2 {
      padding-top: 20px;
      font-weight: 300;
    }
  }

  #query {
    padding: 2% 0 1% 0;
    text-align: center;
    font-size: 0.8em;

    #asterisk {
      padding-top: 3%;
      font-size: 1em;
    }

    h2 {
      color: #E9E9EB;
    }
  }

  #input {
    width: 50%;
    max-width: 636px;
    padding: 10px;
    font-size: 1.4em;
  }
}

