@mixin box-sizing(){
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /*font-size: 1.4em;*/
  /*line-height: 2em;*/
  /*background-color: #f5f5f5;*/
  /*color: #444;*/
  /*font-family: 'Lato';*/
  /*font-weight: 300;*/
  /*margin: 0;*/
  font-weight: normal;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p, li, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #fafafa;
}

p {
  color: #e0e0e0;
}

a {
  color: #f36523;
  text-decoration: none;
  &:hover {
    color: #d35400;
  }
}

#wrapper {
  margin: auto;
  width: 100%;
  max-width: 960px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


.clearfloat {
  clear: left;
}

.small {
  font-size: 0.7em;
}

.right {
  text-align: right;
}

.italics {
  display: inline;
  font-style: italic;
}

.strong {
  font-weight: 600;
}